<% title("Jobapp - Index") %>

<h1 class="frontpage-header">Front page</h1>

<% if @current_user != nil %>
  <h2>Your job listings</h2>

  <% @jobs.each do |joblisting| %>
      <div class="job">
        <h3><%= link_to(joblisting.title, joblisting_path(joblisting))%></h3>
        <p><%= joblisting.description %></p>

        <% if signed_in? %>
          <% if current_user == joblisting.user %>
            <div class="joblisting-actions">
              <%= link_to("Update", edit_joblisting_path(joblisting)) %> | <%= link_to("Delete", joblisting_path(joblisting), data: {
                confirm: "Are you sure you want to delete job listing with title \"#{joblisting.title}\"?"
            }, method: :delete) %>
            </div>
          <% end %>
        <% end %>
      </div>
  <% end %>
<% end %>
