/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

body {
    font-family: sans-serif;
    width: 100%;
    height: 100%;
    margin: 0;
}

h1 {
    font-size:30px;
    font-weight: bold;
    color: #2E2F30;
}

a         { color: #B00100; }
a:visited { color: #730E15; }

p {
    padding-left: 20px;
}

.container {
    width: 40%;
    min-width: 480px;
    height: 100%;
    margin-left: auto;
    margin-right: auto;
}

header {
    min-height: 25px;
    padding: 10px 0;
    text-align: right;
}
header input {
    margin: 5px 0;
}

footer {
    margin-top: 16px;
}

#border {
    width: 100%;
    border-bottom: 1px solid #999999;
}
