.errors {
  color: #C02020;
  margin-left: 20px;
  margin-top: -8px;
}

input[type="text"] {
  width: 400px;
}
input[type="button"] {
  text-align: right;
}

textarea {
  width: 400px;
  max-width: 600px;
  height: 100px;
}

table td:first-child {
  vertical-align: text-top;
  width: 140px;
}

.job {
  border-bottom: 1px solid #BBBBBB;
}

.joblisting-actions {
  margin-bottom: 16px;
}