<!DOCTYPE html>
<html>
  <head>
    <title><%= if content_for?(:title)
             yield(:title) else 'Jobapp - default' end %></title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag('application', media: 'all', 'data-turbolinks-track': 'reload') %>
    <%= javascript_include_tag('application', 'data-turbolinks-track': 'reload') %>
  </head>

  <body>
    <header class="container">
      <% if signed_in? %>
        Signed in as: <%= current_user.email %>
        <%= button_to('Sign out', sign_out_path, method: :delete) %>
      <% else %>
        <%= link_to('Sign in', sign_in_path) %>
      <% end %>
    </header>

    <div id="border"></div>

    <section class="container">
      <div id="flash">
        <% flash.each do |key, value| %>
          <div class="flash <%= key %>"><%= value %></div>
        <% end %>
      </div>

      <%= yield %>
    </section>

    <footer class="container">
      <%= link_to('See your job listings', root_path) %> | <%= link_to('See all job listings', joblist_path) %>
    </footer>
  </body>
</html>
