<% title("Jobapp - Update job listing") %>

<h1>Edit joblisting</h1>

<% if @errors.present? %>
    <div class="errors">
      <ul>
        <% @errors.each do |error| %>
            <li><%= error %></li>
        <% end %>
      </ul>
    </div>
<% end %>

<%= form_for @job, url: joblisting_path(@job), html: { method: :put } do |form| %>
    <table>
      <tr>
        <div class="form-group">
          <td><%= form.label :title %></td>
          <td><%= form.text_field :title %></td>
        </div>
      </tr>
      <tr>
        <div class="form-group">
          <td><%= form.label :description %></td>
          <td><%= form.text_area :description %></td>
        </div>
      </tr>
      <tr>
        <td colspan="2">
          <div class="actions">
            <%= form.submit %>
          </div>
        </td>
      </tr>
    </table>
<% end %>
<br/>
<%= link_to('Back to list', joblist_path) %>