<% title('Jobapp - All job listings') -%>

<h1>Job listings</h1>

<div>
  <%= link_to("Create new job listing", new_joblisting_path) %>
</div>

<% @jobs.each do |joblisting| %>
  <div class="job">
    <h3><%= link_to(joblisting.title, joblisting_path(joblisting))%></h3>
    <p><%= joblisting.description %></p>

    <% if signed_in? %>
      <% if current_user == joblisting.user %>
        <div class="joblisting-actions">
          <%= link_to("Update", edit_joblisting_path(joblisting)) %> | <%= link_to("Delete", joblisting_path(joblisting), data: {
            confirm: "Are you sure you want to delete job listing with title \"#{joblisting.title}\"?"
        }, method: :delete) %>
        </div>
      <% end %>
    <% end %>
  </div>
<% end %>