<% title("Jobapp - New job listing") %>

<h1>Create new joblisting</h1>

<% if @errors.present? %>
    <div class="errors">
      <% @errors.each do |error| %>
        <p><%= error %>.</p>
      <% end %>
    </div>
<% end %>

<%= form_for(@job, url: joblist_path(@user), html: { method: :post }) do |form| %>
    <table>
      <tr>
        <div class="form-group">
          <td><%= form.label :title %></td>
          <td><%= form.text_field :title %></td>
        </div>
      </tr>
      <tr>
        <div class="form-group">
          <td><%= form.label :description %></td>
          <td><%= form.text_area :description %></td>
        </div>
      </tr>
      <tr>
        <td colspan="2">
          <div class="actions">
            <%= form.submit %>
          </div>
        </td>
      </tr>
    </table>
<% end %>
<br/>
<%= link_to('Back to list', joblist_path) %>