<% title('Jobapp - ' + @job.title) %>

<h1><%= @job.title %></h1>

<h3>Description:</h3>
<p><%= @job.description %></p>

<% if signed_in? %>
  <% if current_user == @job.user %>
    <div class="joblisting-actions">
      <%= link_to("Update", edit_joblisting_path(@job)) %> | <%= link_to("Delete", joblisting_path(@job), data: {
          confirm: "Are you sure you want to delete job listing with title \"#{@job.title}\"?"
      }, method: :delete) %>
    </div>
  <% end %>
<% end %>

<%= link_to("Back", joblist_path) %>